@charset "utf-8";

body {
    background-color: #ffffff;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: #c771f669;
    color: black;
    text-align: center;
    line-height: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.5em;
}

img {
    height: 240px;
    width: 320px;
}

figure {
    width: 320px;
    height: 400px;
    padding: 5px;
    border: 2px inset #202020;
}

figcaption {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}